body {
    width: auto;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: -4.5%;
    padding: 0%;
    background-image: url(assets/headbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

header h1 {
    margin-top: 0vw;
    margin-bottom: 0%;
    width: auto;
    text-align: center;
}

.ksmotors {
    display: inline-block;
    margin: 0;
    max-width: 50%;
    max-height: 50%;
    min-width: 10%;
    margin-top: 8%;
}

header nav {
    border-radius: 60px 60px 0 0;
    background-color: rgb(236, 218, 185);
}

header nav ul {
    font-size: 4.5vw;
    text-align: center;
    list-style: none;
    list-style-position: inside;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 0.8%;
}

nav ul li a {
    text-decoration: none;
    color: rgb(66, 18, 18);
}

a:hover {
    color: rgb(227, 161, 9);
}

main {
    border-top: 2px dotted rgb(66, 18, 18);
    padding: 4vw;
}

footer {
    background-image: url(assets/fbg.png);
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.1%;
    position: absolute;
    margin-bottom: auto;
}

.ico img {
    margin-top: 2vw;
    margin-left: 4vw;
    width: 8vw;
    height: 6vw;
}

.contact {
    margin-left: 2vw;
    width: 50%;
    height: 50%;
    float: left;
}

.contact ul {
    list-style: none;
    color: gainsboro;
    font-size: 3.6vw;
    align-items: center;
}

.contact ul li {
    margin-left: 3vw;
}

.contact ul .phno {
    color: rgb(34, 170, 34);
    text-decoration: none;
}

.contact ul .mail {
    color: lightblue;
    text-decoration: none;
}

.contact ul img {
    max-width: 1em;
    max-height: 1em;
}

.contact ul .mail {
    text-align: center;
}

.abt {
    /*about us link*/
    margin-top: 2.2vw;
    float: right;
}

.abt a {
    margin-right: 4vw;
    text-decoration: none;
    color: gainsboro;
    font-size: 3.6vw;
}

.abt a:hover {
    color: rgb(227, 161, 9);
}

header nav ul a.active {
    color: rgb(227, 161, 9);
}

.about {
    /*for aboutus page body*/
    width: auto;
    margin: 0 auto;
}

.about p {
    font-size: 1.5em;
    font-style: italic;
    color: rgb(66, 18, 18);
}

main {
    background-color: rgb(236, 218, 185);
}

.latest p {
    margin-top: 0%;
    font-size: 3.3vw;
}

.selldiv a {
    border-radius: 1.5em;
    background-color: rgb(236, 218, 185);
    margin-right: 1.2vw;
    float: right;
    position: static;
    color: rgb(66, 18, 18);
    font-size: 2vw;
    text-decoration: none;
}

.selldiv a:hover {
    color: rgb(227, 161, 9);
}

.socials {
    margin: 0 auto;
    margin-top: 20%;
}

.socials ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    list-style-position: inside;
}

.socials ul li {
    margin: 0 1%;
}

.socials img {
    width: 6vw;
    height: 6vw;
}

.lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 5px;
}

.lists h3 {
    color: rgb(66, 18, 18);
    font-size: 1.5em;
}

.lists p {
    color: rgb(66, 18, 18);
    font-size: 1.25em;
}
.carblock a img{
    height: 100%;
    width: 100%;
}

.carblock {        /*listing page blocks*/
    border-radius: 1em;
    background-color:tan;
    box-sizing: border-box;
    text-align: center;
    border: 1.75px solid rgb(66, 18, 18);
    margin: 1.25%;
    background-image: url(assets/blockbg.png);
}
.carblock img{
    width: 20vw;
    height: 20vw;
}
.detail_imgbox{
    background-color: antiquewhite;
    background-image: url(assets/blockbg.png);          /*per car page*/
    background-position:center;
    background-repeat: repeat;
    background-size: cover;
    text-align: center ;
    border: 1px solid rgb(66, 18, 18);
}
.detail_imgbox img{
    width: 50%;
    height: 505;
}
.detail_body{
    text-align: center;
    font-size: 2vh;
    color: rgb(74, 58, 47);
}