body {
    
    width: auto;
    margin: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: -4.5%;
    padding: 0%;
    background-image: url(assets/headbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

header h1 {
    margin-top: 0vw;
    margin-bottom: 0%;
    width: auto;
    text-align: center;
}

.ksmotors {
    display: inline-block;
    margin: 0;
    max-width: 50%;
    max-height: 50%;
    min-width: 10%;
    margin-top: 8%;
}

header nav {
    border-radius: 60px 60px 0 0;
    background-color: rgb(236, 218, 185);
}

header nav ul {
    font-size: 4.5vw;
    text-align: center;
    list-style: none;
    list-style-position: inside;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 0.8%;
}

nav ul li a {
    text-decoration: none;
    color: rgb(66, 18, 18);
}

a:hover {
    color: rgb(227, 161, 9);
}

main {
    min-height: 100vh;
    flex: 1 0 auto;
    border-top: 2px dotted rgb(66, 18, 18);
    padding: 4vw;
}

footer {
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    max-width: 99.5vw;
    background-image: url(assets/fbg.png);
    background-color: black;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.1%;
    position: absolute;
    margin-bottom: auto;
    flex: 0 0 auto;
}

.ico img {
    margin-top: 2vw;
    margin-left: 4vw;
    width: 8vw;
    height: 6vw;
}

.contact {
    margin-left: 2vw;
    width: 50%;
    height: 50%;
    float: left;
}

.contact ul {
    list-style: none;
    color: gainsboro;
    font-size: 3.6vw;
    align-items: center;
}

.contact ul li {
    margin-left: 3vw;
}

.contact ul .phno {
    color: rgb(34, 170, 34);
    text-decoration: none;
}

.contact ul .mail {
    color: lightblue;
    text-decoration: none;
}

.contact ul img {
    max-width: 1em;
    max-height: 1em;
}

.contact ul .mail {
    text-align: center;
}

.abt {
    /*about us link*/
    margin-top: 2.2vw;
    float: right;
}

.abt a {
    margin-right: 4vw;
    text-decoration: none;
    color: gainsboro;
    font-size: 3.6vw;
}

.abt a:hover {
    color: rgb(227, 161, 9);
}

header nav ul a.active {
    color: rgb(227, 161, 9);
}

.about {/*for aboutus page body*/
    border-radius: 5%;
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about1{
    border-right: 3px solid black;
    font-size: 5vw;
    font-style: italic;
    color: rgb(66, 18, 18);
    margin-right: 1rem;
}
.about2{
    font-size: 2.5vw;
    font-style: italic;
    color: rgb(66, 18, 18);
}

main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
    background-color: rgb(236, 218, 185);
}

.latest p {
    margin-top: 0%;
    font-size: 3.3vw;
}
.selldiv a {
    border-top-left-radius: -3em;
    border-bottom-left-radius: 1.5em;
    background-color: #e9dbc6;
    margin-right: 0.25%;
    float: right;
    position: static;
    color: rgb(66, 18, 18);
    font-size: 2vw;
    text-decoration: none;
}
@media only screen and (max-width: 640px){
    .selldiv a{
        font-size: 2vh;
    }
}
.selldiv a:hover {
    color: rgb(227, 161, 9);
}

.socials {
    margin: 0 auto;
    margin-top: 0%;
}

.socials ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    list-style-position: inside;
}

.socials ul li {
    margin: 0 1%;
}

.socials img {
    width: 6vw;
    height: 6vw;
}

.lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 5px;
    align-items: center;
}
@media only screen and (max-width: 640px){
    .lists {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
}

.lists h3 {
    color: rgb(66, 18, 18);
    font-size: 1.5em;
}

.lists p {
    color: rgb(66, 18, 18);
    font-size: 1.25em;
}
.carblock a img{
    height: 100%;
    width: 100%;
}

.carblock {        /*listing page blocks*/
    
    border-radius: 1em;
    background-color:#e9dbc6;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid rgb(66, 18, 18);
    margin: 1.25%;
    box-shadow:  0 2px 15px rgb(74, 58, 47), 0 2px 20px rgba(66, 18, 18, 0);
    min-width: 15vw;
    min-height: 15vw;
    max-width: 25vw;
}
@media only screen and (max-width: 640px) {
    .carblock {        /*listing page blocks*/
        border-radius: 1em;
        background-color:#e9dbc6;
        box-sizing: border-box;
        text-align: center;
        border: 1px solid rgb(66, 18, 18);
        margin: 1.25%;
        box-shadow:  0 2px 15px rgb(74, 58, 47), 0 2px 20px rgba(66, 18, 18, 0);
        min-width: 75vw;
        min-height: 25vw;
    }
  }
.carblock a{
    text-decoration: none;
}
.carblock img{
    width: 20vw;
    height: 20vw;
}
.detail_imgbox{
    background-color:#e9dbc6;
    text-align: center ;
    border: 1px solid rgb(66, 18, 18);
}
.detail_imgbox img{
    width: 50%;
    height: 505;
}
.detail_body{
    text-align: center;
    font-size: 2vh;
    color: rgb(74, 58, 47);
}
.detail_body a{
    border-radius: 15%;
    font-size: 2rem;
    color: rgb(236, 218, 185);
    background-color: rgb(66, 18, 18);
    box-shadow:  0 2px 15px rgb(74, 58, 47), 0 2px 20px rgba(66, 18, 18, 0);
    text-decoration: none;
}
/*latest cars*/
.latest {
    font-family:'Times New Roman';
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 0%;
    color: rgb(66, 18, 18);
}
.horizontals{
    border-radius: 26px;
    border: 2px solid rgb(66, 18, 18);
    overflow-x: auto;
    white-space: nowrap;
    padding:1%;
    scroll-behavior: smooth;
    box-shadow:  0 2px 15px rgb(74, 58, 47), 0 2px 20px rgba(66, 18, 18, 0);
}
.homecars{
    display: flex;
    gap:5px;
}
.homecarblock{
    background-color: 	#e9dbc6;
    width:48rem;
    overflow: hidden;
    flex-shrink: 0;
    border: 2px solid rgb(66, 18, 18);
    border-radius: 20px;
}
.homecarblock img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}
.homecarblock a{
    text-decoration: none;
    color: rgb(66, 18, 18);
}
.homecarblock h3{
    text-align: center;
    font-size: 2em;
}
.homecarblock p{
    font-size: 1.4em;
    text-align: center;
}
/*over latest cars*/
.divform{    /*form*/ 
    width: 90%;
    border: 3px solid rgb(74, 58, 47);
    border-radius: 3%;
    padding: 5%;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 35px;
    box-shadow:  0 2px 15px rgb(74, 58, 47), 0 2px 20px rgba(66, 18, 18, 0);
}
.carform{
    margin-inline: 35%;
}
.buttons{
    border-radius: 10%;
}
/*over form*/
.brands{
    margin-top: 0.5%;
    border: 1px solid rgb(66, 18, 18);
    border-radius: 20px;
    justify-content: center;
    display: grid;
    grid-auto-flow: column;
    box-shadow:  0 2px 15px rgb(74, 58, 47), 0 2px 20px rgba(66, 18, 18, 0);
    table tr td{
        width: 15rem;
        height: 15rem;
        text-align: center;
        padding-inline: 5em;
    }
    img{
        align-self: center;
        width: 14rem;
    }
    @media only screen and (max-width: 640px){
        img{
            width: 7rem;
        }
        table tr td{
            padding-inline: 0;
        }
    }
    a{
        font-family:'Times New Roman', Times, serif;
        color: rgb(66, 18, 18);
        text-decoration: none;
    }
}